head {
    background: black
}

body {
    background: black
}

img {
    border: black
}

.panel-default {
    background-color: black;
    text-align: center;
    color: white;
}

.panel > .panel-heading {
    background-color: black;
    text-align: center;
    color: white;
}

h1, h2, h5 {
    text-align: center;
    color: white;
    font-family: 'Metal Mania', cursive;
    
}

